---
layout: page
title: People
---

<style> .content.container { max-width: none; } </style>

{% include headshot.html name="Warren Hoburg" caption="Principal Investigator" href="http://web.mit.edu/~whoburg/www/" %}

<p></p>

{% include headshot.html name="Cody Karcher" caption="Master's Student" %}

{% include headshot.html name="Philippe Kirschen" caption="Master's Student" %}

{% include headshot.html name="Edward Burnell" caption="Master's Student" %}

{% include headshot.html name="Scott Nill" caption="PhD Student" %}

{% include headshot.html name="Michael Burton" caption="Undergraduate Researcher" %}
