.person .headshot { width: 30%; }

.person .headshot img { margin-bottom: 1rem; }

.person .bio { min-height: 12em; }
.person .bio p { padding-top: 1.35em; font-size: 0.9em;}

.left {
    float:left;
}
