---
layout: page
title: People
---

{% for role in site.roles %}
  <h3>{{ role.name }}</h3>
  {% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
    <div class="person">
      {% if person.bio %}
      <div class="headshot left">
      {% else %}
      <div class="headshot">
      {% endif %}
        <b>
        {% if person.webpage %}
          <a href="{{ person.webpage |escape }}">
        {% endif %}
            {{ person.display_name }}
        {% if person.webpage %}
          </a>
        {% endif %}
        </b>
        <br />
        {% if person.img %}
          <img src="headshots/square/{{ person.img }}" alt="{{ person.display_name }}" class="img-rounded" width="90%"/>
        {% else %}
          <img src="headshots/square/philippe.jpg" alt="{{ person.display_name }}" class="img-rounded" width="90%"/>
        {% endif %}
      </div>
      <div class="bio">
        {% if person.bio %}
          {{ person.bio | markdownify }
        {% endif %}
        {% if person.email %}
          <br><br>
          Email - <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        {% endif %}
      </div>
    </div>
    <br />
    {% endif %}
    {% endfor %}
{% endfor %}
