<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <a href="{{ site.baseurl }}/" style="color: white; font-weight: 400;">
           <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg4791"
   viewBox="0 0 774.24039 500.34982"
   width="8.65em">
  <defs
     id="defs4793" />
  <metadata
     id="metadata4796">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(578.54877,186.38414)"
     id="layer1">
    <path
       id="path5403"
       style="display:inline;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       d="m -484.30837,63.789637 c 0,77.781303 60,150.000003 150,150.000003 l 50,0 80,99.99996 c -70.32783,0 -38.6742,0.3962 -122.45597,0 -138.69632,-0.6498 -251.78443,-111.29633 -251.78443,-249.998643 m 94.2404,-10e-4 c 0,-77.7813 60,-149.99999 150,-149.99999 l 50,0 80,-100.000007 c -70.32783,0 -38.6742,-0.39371 -122.45597,0.003 -138.69632,0.6497 -251.78443,111.296437 -251.78443,249.998747" />
    <path
       id="path5405"
       d="m -104.30837,-186.21036 300,0 -80,100.000007 -300,0"
       style="display:inline;fill:#ffffff;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path5407"
       d="m -184.30837,13.789607 0,100.000003 99.999999,0 60,0 140.000001,0 0,-100.000003 -300,0 z m 0,200.000003 80,100 300,0 -80,-100 -140.000001,0 -60,0 -99.999999,0 z"
       style="display:inline;fill:#ffffff;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
</svg><br>
Convex Engineering
        </a>
    </div>

    <nav class="sidebar-nav">
      {% capture pageurl_trunc6 %}{{ page.url | truncate: 9 }}{% endcapture %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</div>
